style.css

h6{}

#centeredmenu {
 clear:both;
   min-width: 220px;
   margin: auto;
}


img {
    width:100%;
    height:auto;
    border: 5px;
    padding: 5px;
    margin-left: 3%;
    margin-right: 18%;
    float: left;
    align-items: center;
}


/* Three images */
.column {
  float: left;
  width: 30.33%;
  padding: 5px;
  }

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

p strong, p1{
margin-left: 25%;
margin-right:50%;
font-size: 1.5vw;
}

p{
	color: black;
	border: 100px;
	align-content: center;
	margin-left: 110px;
	margin-right: 150px;
  padding: 10px;
}

h2{
	margin-left: 110px;
	margin-right: 150px;
}

h3{
	background-color: pink;
	border-width: 5px;
	-moz-border-radius: 6px; 
    border-radius: 6px;
    margin-left: 110px;
    margin-right: 150px;
    padding: 20px;
}

h4, ul{
	color: black;
	margin-left: 110px;
  padding-top: 20px;
}

iframe {
	display: block;
	margin: 0 auto;
  padding-bottom: 20px;
}



